:host {
  display: flex;
  flex-grow: 1;
}

.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__items {
    display: flex;
    margin: 20px 0;
  }

  &__item {
    margin: 0 15px;
    min-width: 20px;
  }
}